
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 24%;
}
article{text-align: center;}

div.gallery:hover {
  border: 1px solid rgba(0, 0, 0, 0.329);
  
}

div.gallery img {
  width: 100%;
  margin-right: auto;
  height: auto;
}

div.desc {
  padding: 1px;
  text-align: center;
  text-align: center;
  
}
